body {
    background: url(../img/topsecretbackground.gif) no-repeat center center fixed; 
    background-size: cover;
    background-size: cover;
    background-size: cover;
}

.texta {
    font-size: 35px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}